<div class="container">
  <div class="card mb-3">
    <img src="assets/finance-saving_81499.png" class="card-img-top w-25" alt="...">
    <div class="card-body">
      <h1 class="card-title">Projeto de conversão de moedas</h1>
      <p class="card-text">Projeto de conversão de moedas para exemplificar o consumo de APIs.</p>
      <p class="card-text">Utiliza a API <strong>https://exchangerate.host/</strong></p>
      <p class="card-text"><small class="text-muted">Atualizado em {{ dataAtual | date:'dd/MM/yyyy HH:mm:ss' }}</small>
      </p>
    </div>
  </div>
</div>
