<div class="container">
  <mat-toolbar>
    <span>Listagem de Moedas</span>
  </mat-toolbar>

  <mat-toolbar class="toolbar-filtro">
    <mat-form-field appearance="standard" class="formfield-filtro">
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
    </mat-form-field>
  </mat-toolbar>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Código</th>
      <td mat-cell *matCellDef="let moeda"> {{ moeda.code }} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição</th>
      <td mat-cell *matCellDef="let moeda"> {{ moeda.description }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Nenhum resultado para "{{ input.value }}"</td>
    </tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Selecione uma página">
  </mat-paginator>

</div>
